/*.game-menu{*/
    /*-fx-font-family: Zapf-Chancery;*/
    /*-fx-font-size: 30px;*/
    /*-fx-text-fill: white;*/
    /*-fx-background-color: rgba(0,0,0,0);*/
    /*!*-fx-border-color: #8f7a66;*!*/
    /*!*-fx-border-width: 2;*!*/
    /*-fx-background-radius: 3;*/
    /*-fx-border-radius: 3;*/
    /*-fx-padding: 6 20 12 20;*/
/*}*/
/*.game-root{*/
    /*-fx-background-color: #ffffff;*/
/*}*/
/*.game-lblPoint{*/
    /*-fx-font-size: 100;*/
    /*!*-fx-font-*!*/
/*}*/
.game-btMenu{
    -fx-font-size: 30;
    -fx-background-color: transparent;
    -fx-alignment: center;
    /*-fx-pref-width: 300;这个为什么没用？*/
    -fx-highlight-text-fill: white;/*这句是什么意思。。*/
}